node_modules
package-lock.json
.DS_Store
http-example/node-clients/lib-http-proposer-api
http-example/node-control/lib-http-proposer-api
http-example/node-full/gryadka-core
http-example/node-full/gryadka-redis
http-example/node-acceptor/gryadka-redis